html, body {
    margin: 0;
    min-height: 100vh
}

header {
    height: 300px;
    width: 100%;
}

main {
    display: grid;
    min-width: 0;
    grid-auto-columns: 1fr;
    grid-template-columns: minmax(0, 0.5fr) 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "box1 box2"
        "box3 box4"
        "box5 box6";
}

.box1 {
    grid-area: box1;
    height: 300px;
    border-right: solid;
    padding: 0 10px;
    margin: 15px 10px;
    align-content: end;
}


.box2 {
    grid-area: box2;
    height: 300px;
    margin: 15px 10px;
}

.box3 {
    grid-area: box3;
    border-right: solid;
    padding: 0 10px;
    height: 400px;
    margin: 0 10px; 
}

.box4 {
    grid-area: box4;
    height: 400px;
}

.box5 {
    grid-area: box5;
    border-right: solid;
    padding: 0 10px;
    height: fit-content;
    margin: 15px 10px;
}

.box6 {
    grid-area: box6;
    height: fit-content;
    justify-content: center;
}

h1 {
    color: #80ced6;
    margin: auto 5px;
    font-size: 40px;
    padding: 10px;
}

h2 {
    text-decoration: underline;
    text-align: right;
    color: #618685
}

nav {
    background-color: #618685;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
}

nav ul {
    display: flex;
    flex-direction: row;
    width: fit-content;
    list-style: none;
}

nav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 8px;
    color: #80ced6;

}

nav ul li a {
    text-decoration: none;
    color: #80ced6;
    font-size: 20px;
}

#banner {
    height: 80%;
    width: 100%;
    background-image: url("https://images.ctfassets.net/hrltx12pl8hq/4ACnMj4WVSOZRZt0jHu9h5/1506f652bcd70f4dc3e88219fefea858/shutterstock_739595833-min.jpg?fit=fill&w=800&h=300");
}

#banner h2 {
    margin: 0;
    width: fit-content;
    background-color: #80ced6;
    text-decoration: none;
    float: right;
    position: relative;
    top: 70%;
    font-size: 30px;
    padding: 8px;
}

#me {
    width: 300px;
    height: 200px;
    float: right;
    /* margin-left: 80px;  */
    /* align: left; */
    
}

#aboutme {
    background-color: white;
}

#aboutme div {
    padding: 10px;
}

#work {
    background-color: white;
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 4px 4px;
    grid-template-areas:
        "super super"
        "super super"
        "super super";
}

.super {
    grid-area: super;
    background-image: url("../newOnlyFlix.png");
    border: #80ced6 solid 4px;
}

/* .first {
    grid-area: first;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKimrjFWdSL-1d7EGY0excHnxtFU0AN29WNw&usqp=CAU");
    border: #80ced6 solid 4px;
}

.second {
    grid-area: second;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjvwIQqIMK7rJskfJRb-noHT-jnguUsZBVLw&usqp=CAU");
    border: #80ced6 solid 4px;
} */

/* .third {
    grid-area: third;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbGibhT-K9Fc7cHmE36hF8J4Pgaoyo2ge_sg&usqp=CAU");
    border: #80ced6 solid 4px;
}

.fourth {
    grid-area: fourth;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlsTLR4wYZ9azBiWrcn_swMERs08sl-tIxYg&usqp=CAU");
    border: #80ced6 solid 4px;
} */

.project p {
    background-color: #80ced6;
    width: fit-content;
}

.box2 p {
    font-size: 20px;
}

.grid #super {
    grid-column: 1/3;
}

#contactme {
    background-color: white;
}

#links {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
}

#links ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    list-style: none;
    justify-content: space-between;
    padding: 0 45px;
}

#links ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 8px;
    height: fit-content;
}

#links ul li a {
    color: #618685;
    font-size: 20px;
}

